/* I made the text all the same */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #555555;
    background-color: lavenderblush;
}

.body{background-color: lavenderblush;}

.gamebody {
    font-family: sans-serif;
    text-align: center;
  }
  #jokeDisplay {
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 10px;
  }

h4 { font-size: larger;}

.title {font-size: xx-large;
font-family: fantasy;
color: #555555;}

a { color: rgb(39, 142, 162);
text-decoration: none;}

/* I made it so the links underline when hovered over */
a:hover {
text-decoration: underline;
}

p {font-style: italic;}

.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}

li{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}
.underline {text-decoration: underline;}

.floatright{float: right;}
.center {text-align: center;}

.center-image{
    display: inline;
    text-align: center;
  }

.bold {
    font-weight: bold;
}
/* I added a background image */
.homepagebg {
    background-image: url(../Images/nice\ background.jpg); 
    background-size: cover
}
/* I made a specific border for the paragraph */
.box1 {border: 1px solid grey;}
.box2 {padding: 5px;}
.box3 {margin: 50px;}
